@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


    .price-item h2.plan {
        font-size: 24px;
        text-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
      
}
.container1
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}
.container1 .card
{
    width: 260px;
   height: 350px;
   padding: 60px 30px;
   margin: 35px;
   background: #302f4e;

   border-radius: 20px;
}
.container1 .card .content
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.container1 .card .content .imgBx
{
   width: 190px;
   height: 190px;
   border-radius: 10%;
   position: relative;
   top: -30px;
   margin-bottom: -10px;
   overflow: hidden;
   background: #f9f9fa;
   box-shadow: 0 0 8px rgb(173, 170, 171);
}
.container1 .card .content .imgBx img
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.container1 .card .content .contentBx h4
{
   color: #ffffff;
   font-size: 1.7rem;
   font-weight: bold;
   text-align: center;
   letter-spacing: 1px;
   
}
.container1 .card .content .contentBx h5
{
   color: #ffffff;
   font-size: 1rem;
   font-weight: bold;
   text-align: center;
   
}
.container1 .card .content .sci
{
   margin-top: 20px;
}
.container1 .card .content .sci a
{
   text-decoration: none;
   color: #6c758f;
   font-size: 30px;
   margin: 10px;
   transition: color 0.4s;
}
.container1 .card .content .sci a:hover
{
   color: #0196e3;
}




/*   colors
         #f2f3f7
        #d2dce9
        #36187d
        #6c758f
        #0196e3
 */
 